@font-face {
	font-family: 'Machina';
	src: url('./assets/fonts/NeueMachina-Regular.otf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: 'Machina';
	src: url('./assets/fonts/NeueMachina-Regular.otf') format('truetype');
	font-style: normal;
}
